<li class="chats__item">
    {{{avatar}}}
    <div class="chats__content">
        <div class="chats__name">
            {{name}}
        </div>
        <p class="chats__text">
            {{{message}}}
        </p>
    </div>
    <span class="chats__date">
        {{lastDate}}
    </span>
    {{#if count}}
        <div class="chats__counter">
            {{count}}
        </div>
    {{/if}}
</li>
