<li class="chats__item {{#if isActive}}chats__item_active{{/if}}" data-id="{{id}}" data-owner="{{owner}}">
    {{{avatar}}}
    <div class="chats__content">
        <div class="chats__name">
            {{name}}
        </div>
        {{#if message}}
            <p class="chats__text">
                {{{message.content}}}
            </p>
        {{/if}}
    </div>
    <span class="chats__date">
        {{lastDate}}
    </span>
    {{#if count}}
        <div class="chats__counter">
            {{count}}
        </div>
    {{/if}}
</li>
