<label class="label {{className}} {{#if error}}error{{/if}}">
    {{{input}}}
    <div class="label__line"></div>
    <span class="label__name">
        {{text}}
    </span>
    {{{message}}}
    {{{tooltip}}}
</label>
