<form action="{{action}}" name="{{name}}" class="form {{className}}" method="{{#if method}}{{method}}{{else}}post{{/if}}">
    {{> @partial-block}}
    {{> button label=buttonLable className="form__button" type="submit"}}
</form>
