<label class="label {{className}}">
    <input type="{{#if type}}{{type}}{{else}}text{{/if}}" class="label__input" value="{{value}}" name="{{name}}" {{attrs}}>
    <div class="label__line"></div>
    <span class="label__name">{{text}}</span>
    <span class="label__message">
        Заполните это поле
    </span>
</label>
